app = "harmony-backend"
primary_region = "iad"

[compute]
  vm_size = "shared-cpu-1x"
  vm_memory = 256

[build]
  builder = "paketobuildpacks/builder:base"
  
[build.env]
  BP_NODE_VERSION = "18"

[env]
  PORT = "8080"


[[services]]
  internal_port = 8080
  protocol = "tcp"
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"

